name: Sync Fork
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch: # 允許手動觸發
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: tgymnich/fork-sync@v1.1
        with:
          base: main
          head: main
          auto_approve: true
